<?xml version="1.0"?>
<launch>

	<arg name="model" default="$(find mir100_description)/urdf/mir100.urdf.xacro"/>
	<arg name="rvizconfig" default="$(find mir100_description)/rviz/urdf.rviz" />

	<!-- Launch Gazebo empty world and spawn robot in gazebo-->
	<include file="$(find mir100_description)/launch/gazebo.launch">
	<arg name="model" value="$(arg model)" />
	</include>

	<!-- Load differential drive parameters -->
	<rosparam command="load"
	        file="$(find mir100_description)/config/diffdrive.yaml"
	        ns="mir100_diff_drive_controller" />

	<!-- Launch differential drive controller -->
	<node name="mir100_controller_spawner" pkg="controller_manager" type="spawner"
	args="mir100_diff_drive_controller"/>

	<!-- Launch GUI controller -->
	<node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
	<param name="default_topic" value="/mir100_diff_drive_controller/cmd_vel"/>
	</node>

    <!-- Setting gui parameter to true for display joint slider -->
  	<param name="use_gui" value="false"/>

	<!-- Launch visualization in rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>